{{- partial "header.html" . -}}

{{- if .Params.type -}}
  {{- $items := where (where .Pages "Type" "eq" ".Params.type") ".Params.early_access" "!=" "true" -}}
  {{- .Scratch.Set "items" $items -}}
{{- else -}}
  {{- $posts := where (where .Pages "Type" "eq" "posts") ".Params.early_access" "!=" "true" -}}
  {{- $gallery := (where .Pages "Type" "eq" "image") | first 3 -}}
  {{- $quotes := slice -}}
  {{- .Scratch.Set "has_quota" $quotes -}}
  {{- $latest_posts := $posts | first 1 -}}
  {{- $ordinary_posts := $posts | after 1 -}}
  {{- $ordinary_items := ($quotes | union $gallery | union $ordinary_posts).ByDate.Reverse -}}
  {{- .Scratch.Set "items" (union $latest_posts $ordinary_items) -}}
{{- end -}}

{{- $paginator := .Paginate (.Scratch.Get "items") (index .Site.Params "paginate" | default 10) -}}
{{- if gt $paginator.TotalPages 0 -}}
  {{- range $index, $page := $paginator.Pages -}}
    {{- $should_tag_latest_post := (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0)) -}}

  	{{- $classes := slice "list__post" "post" "timeline" -}}
    {{- $classes := ($classes | append (cond $should_tag_latest_post "post--top" "" )) -}}
    {{- $classes := ($classes | append (cond (eq .Params.special true) "post--highlight" "" )) -}}
  	{{- .Scratch.Set "post_classes" $classes -}}

    {{- $post_class := delimit (.Scratch.Get `post_classes`) " " -}}
    <article class="{{ trim $post_class " " }}">
      <a class="post__link" href="{{ .Permalink }}">
        <h1 class="post__title">{{- .Title -}}</h2>
      </a>
      <p class="post__summary">
        <a class="post__coverLink" href="{{ .Permalink }}">
        {{- .Summary | plainify | htmlUnescape -}}...</a>
      </p>
      <span class="post__createdAt timeline__dateContainer">
        <time class="timeline__date">{{- .Date.Format "2006.1.2" -}}</time>
      </span>
    </article>
  {{- end -}}
{{- end -}}

{{- partial "footer.html" . -}}
