{{ partial "header.html" . }}
<article class="post timeline">
  <h1 class="post__title">{{ .Title }}</h1>
  <span class="post__createdAt timeline__dateContainer">
    <time class="timeline__date">{{- .Date.Format "2006.1.2" -}}</time>
  </span>
  <div class="post__content content">{{ .Content }}</div>
  <footer class="post__footer">
    {{- if .Params.tags -}}
    <ul class="post__tags tags">
      {{- range .Params.tags -}}
      <li><a class="tags__link" href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a></li>
      {{- end -}}
    </ul>
    {{- end -}}
  </footer>
</article>
{{- if .Params.latex_syntax -}}
<script defer src="https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
      processEnvironments: true,
      processClass: 'js-tex2jax',
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      TeX: { equationNumbers: { autoNumber: "AMS" },
           extensions: ["AMSmath.js", "AMSsymbols.js"] }
    }
  });

  MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } }
  });
</script>
{{- end -}}
{{ partial "footer.html" . }}
