.content {
  $paragraph_gap: 22px;

  line-height: 1.86;
  font-size: 17px;

  ol, ul {
    display: flow-root;
  }

  ol {
    list-style-type: decimal;

    $nested_margin: 8px;
    & ol {
      list-style-type: lower-alpha;
      margin: $nested_margin 0;
      & ol {
        margin: $nested_margin 0;
        list-style-type: lower-roman;
      }
    }
  }

  h2, h3, h4 {
    margin-top: 40px;
    margin-bottom: 15px;
  }

  h2 {
    clear: both;
  }

  p {
    @extend %paragraph;
    line-height: inherit;
    font-size: inherit;
    margin-bottom: $paragraph_gap;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  b, strong {
    font-weight: bolder;
    padding: 0 2px;
    color: #fff;
  }

  a {
    @extend %anchor;
    border-bottom: 3px solid $decoration_secondary_color;
    &:hover {
      border-bottom-style: dashed;
    }
  }

  blockquote {
    padding: $base_spacing;
    margin: $base_spacing 0;
    border-radius: 5px;
    font-family: $text_handwriting_fonts;
    font-weight: bold;
    color: $text_secondary_color;
    background-color: darken($decoration_secondary_color, 15%);
    position: relative;

    &::before {
      content: "’";
      position: absolute;
      right: $base_spacing / 2;
      bottom: 0;
      line-height: 0;
      font-size: 150px;
      font-family: $text_heading_fonts;
      color: darken($decoration_secondary_color, 20%);
      z-index: 1;
    }

    @include media("<tablet") {
      margin-left: -$base_spacing;
      margin-right: -$base_spacing;
    }

    p {
      position: relative;
    }
  }

  code:not(.hljs) {
    color: $brand_color;

    @at-root {
      @supports (-webkit-background-clip: text) {
        & {
          background: linear-gradient(to right,$brand_color,saturate($brand_color, 25%));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: none;
        }
      }
    }
  }

  pre {
    clear: both;
    margin-top: $base_spacing;
    margin-bottom: $base_spacing;

    code {
      border-radius: 6px;
      -webkit-overflow-scrolling: touch;
      padding: $base_spacing $base_spacing;
    }

    @include media("<tablet") {
      margin: $base_spacing -#{$base_spacing};
      code {
        border-radius: 0;
        padding-left: $base_spacing;
        padding-right: $base_spacing;
      }
    }
  }

  .figure {
    margin-top: $base_spacing;
    margin-bottom: $base_spacing;
  }

  %table {
    border-collapse: collapse;
  }

  .tableContainer {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: $base_spacing;
    margin-bottom: $base_spacing;

    @include media("<tablet") {
      margin-left: -$base_spacing;
      margin-right: -$base_spacing;

      table, th, td {
        border-left: none;
        border-right: none;
      }
    }

    &--sizeFull {
      table {
        min-width: 100%;
      }
    }

    &--cellEqual {
      td {
        width: 1%;
      }
    }

    &--layoutCenter {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include media(">=tablet") {
      &--layoutLeft {
        float: left;
        table {
          margin-left: 0;
          margin-right: $base_spacing;
        }
      }

      &--layoutRight {
        float: right;
        table {
          margin-right: 0;
          margin-left: $base_spacing;
        }
      }
    }
  }

  table {
    @extend %table;
    box-sizing: content-box;
    min-width: 270px;
    position: relative;

    @include media("<tablet") {
      min-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  tr {
    &:nth-child(even) {
      background-color: darken($decoration_secondary_color, 5%);
    }

    &:nth-child(odd) {
      background-color: $decoration_secondary_color;
    }
  }

  th {
    @extend %table;
    padding: 5px 10px;
    background-color: darken($decoration_primary_color, 30%);
    position: sticky;
    top: 0;
    white-space: nowrap;
  }

  td {
    @extend %table;
    padding: 15px 10px;
    line-height: 1.68;
  }

  .tex2jax {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: $paragraph_gap;

    @include media("<tablet") {
      margin-left: -$base_spacing;
      margin-right: -$base_spacing;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--left {
      .MathJax_Display {
        text-align: left !important;
      }
    }
  }

  .latexSolution {
    min-width: 100%;
    overflow: auto;
    font-family: $text_handwriting_fonts;
    background-color: darken($decoration_primary_color, 42%);
    padding: $base_spacing;
    border-radius: 5px;
    margin-top: $base_spacing;
    margin-bottom: $base_spacing;

    .tex2jax {
      margin-left: 0;
      margin-right: 0;
      overflow: visible;
    }

    @include media("<tablet") {
      margin-left: -$base_spacing;
      margin-right: -$base_spacing;
      border-radius: 0;
    }
  }

  .references {
    margin-top: $base_spacing * 2;
    color: $decoration_secondary_color;

    h5 {
      @extend %heading;
      font-size: 14px;
      font-weight: bold;
    }

    a {
      display: flex;
      border-bottom: none;
      flex: none;
      align-items: center;

      &::after {
        @extend %text_truncate;
        padding-left: 10px;
        flex: 1;
        font-size: 12px;
        max-width: 100%;
        color: $decoration_secondary_color;
        content: attr(href) "";
      }

      &:hover {
        color: $text_primary_color;
      }

      @include media("<tablet") {
        flex-direction: column;
        align-items: flex-start;

        &::after {
          padding-left: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
