$background_color: #404040;

$brand_color: #E54E3D;
$highlight_color: #4BE073;
$important_color: #EA587F;

$text_primary_color: #fff;
$text_secondary_color: #bbb;

$text_primary_fonts: 'Source Sans Pro', sans-serif;
$text_heading_fonts: 'Staatliches', cursive;
$text_handwriting_fonts: serif;

$decoration_primary_color: #9d9d9d;
$decoration_secondary_color: #707070;

$base_spacing: 35px;
$heading_font_size: 35px;
$heading_primary_font_size: 48px;
$footnote_font_size: 14px;

$logo_size: 80px;
$offset_x_to_logo: $logo_size / 2;
$margin_left_to_logo: $base_spacing / 1.25;
